/*一些公用的css*/
@font-face {
    font-family: 'ChineseFont';
    src: url('assets/dingliesongtypeface20241217-2.ttf') format('truetype');
}


body {
    font-family: 'ChineseFont', sans-serif;/* 默认英文字体 */
}



:root {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.el-dialog {
    border-radius: 10px !important;
    background: linear-gradient(to bottom, rgba(114, 126, 165, 0.8), rgba(94, 119, 165, 0.8)) !important;
    padding: 20px !important;
    height:400px !important;
    width:300px !important;
}

/* 1. el-drawer 样式 */
.el-drawer {
    background: linear-gradient(to bottom, rgba(114, 134, 165, 0.6), rgba(216, 205, 192, 0.6)) !important; /* 渐变背景 */
    border-radius: 8px !important; /* 圆角 */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px !important; /* 添加阴影 */
}

.el-drawer__header {
    display: none !important; /* 隐藏标题栏 */
}

.el-drawer__close-btn {
    display: none !important; /* 隐藏叉号 */
}

/* 2. el-button 样式 */
.el-button {
    background-color: #283a57 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 4px !important; /* 圆角按钮 */
    transition: background-color 0.3s ease !important;
}

.el-button:hover {
    background-color: #50577c !important;
}

/* 3. el-descriptions 样式 */
.el-descriptions {
    border: none !important; /* 去除外框 */
    margin: 15px 0 !important;
}

.el-descriptions__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* 添加弱化线条 */
    padding: 10px 0 !important;
}

.el-descriptions__item:last-child {
    border-bottom: none !important; /* 最后一项没有底边 */
}

/* 4. 字体和文字样式 */
.avatar-text {
    font-size: 18px !important;
    font-weight: bolder !important;
    color: #3e4a59 !important; /* 偏灰的深蓝色 */
}

.el-form label {
    color: #3e4a59 !important; /* 偏灰的深蓝色 */
}

/* 5. 错误提示样式 */
.error-warn {
    color: red !important;
}

.error-warn-input {
    --el-input-focus-border-color: red !important;
}


/* el-input 样式 */
 .el-input {
     background: rgba(255, 255, 255, 0.8) !important; /* 白色半透明 */
     border-radius: 10px !important; /* 圆角 */
     color: #003366 !important; /* 输入文字颜色为深蓝色 */
     padding: 10px !important;
 }


/* el-description 样式 */
.el-form {
    background: transparent !important; /* 背景透明 */
    font-size: 16px !important; /* 字体大小 */
    color: #003366 !important; /* 描述文字颜色为深蓝色 */
    margin-top: 20px !important;
}

/* el-description-item 样式 */
.el-form .el-form__label {
    background-color: #003366 !important; /* 深蓝色背景 */
    color: #ffffff !important; /* 文字为白色 */
    padding: 5px 10px !important; /* 内边距 */
    border-radius: 5px !important; /* 圆角 */
}

.el-form .el-description__content {
    color: #003366 !important; /* 展示文字颜色为深蓝色 */
    font-weight: bold !important; /* 加粗 */
}
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


